.introduction {
  background-color: #56bb8a;
  overflow: hidden;
}

.imgContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  width: 90%;
  height: 100%;
}

.main {
  padding-left: 0.3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.desc{
  font-size: 0.38rem;
  line-height: 2rem;
  text-align: center;
  padding-left: 0.4rem;
  color: #fff;
  font-weight: bold;
  word-wrap: break-word;
}

.icon {
  width: 1.6rem;
}