.head {
  background: #36465d;
  color: #fff;
  text-align: center;
}

.avatar {
  text-align: center;
  padding-top: 3rem;
}

.avatar p {
  font-size: 0.5rem;
}

.avatar img {
  box-shadow: 0px 0px 20px 1px #fff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.quote p {
  padding-top:0.7rem;
  font-size: 0.5rem;
  font-weight: bold;
}

.links {
  padding-top:0.7rem;
}

.links ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.links ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a{
  color: #fff;
  text-decoration: none;
  font-size: 0.2rem;
}
.links a img {
  width: 1rem;
  height: 1rem;
}